#block-views-block-services-and-fees-block-2 div[class*="js-view-dom"] {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1em;
}

#block-views-block-services-and-fees-block-2 .views-row {
  margin-bottom: 1em;
  background-color:var(--infoaction--green);
  box-shadow: 0 0.25em 0.5em rgba(0,0,0,.25);
}

@media screen and (min-width: 48em) and (max-width: 63.938em) {
  #block-views-block-services-and-fees-block-2 div[class*="js-view-dom"] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
  }

}

@media screen and (min-width: 64em) {
  #block-views-block-services-and-fees-block-2 div[class*="js-view-dom"] {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1em;
  }

  #block-views-block-services-and-fees-block-2 .views-row {
    height: 100%;
  }
}

#block-views-block-services-and-fees-block-2 header {
  display: block;
  position: absolute;
  margin-top: -2em;
  right: 0;
}

#block-views-block-services-and-fees-block-2 .views-row:hover {
  opacity: 0.8;
  transition: 0.25s;
}

#block-views-block-services-and-fees-block-2 h2 {
  margin-bottom: 0.25em;
}

#block-views-block-services-and-fees-block-2 h3 {
  margin-top: -1em;
  padding: 0.25em 0.5em;
  height: 3em;
  text-align: center;
  background-color: var(--infoaction--green);
}

#block-views-block-services-and-fees-block-2 h3 a {
  color: white;
}