#block-views-block-services-and-fees-block-1 h2 {
  padding-bottom: 2em;
}

.services-and-fees main div[class*="js-view-dom"],
#block-views-block-services-and-fees-block-1 div[class*="js-view-dom"] {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  perspective: 1000px;
  gap: 1em;
}

#block-views-block-services-and-fees-block-2 div[class*="js-view-dom"] {
  display: block;
}

#block-views-block-services-and-fees-block-2 div[class*="js-view-dom"] .views-row {
  width: 100%;
  margin-bottom: 1em;
}

#block-views-block-services-and-fees-block-2 header {
  display: block;
  position: absolute;
  right: 0;
  margin-top: -2em;
}

#block-views-block-services-and-fees-block-2 h2 {
  margin-bottom: 0.5em;
}

#block-views-block-services-and-fees-block-2 h4 {
  margin-top: -0.5em;
  padding: 0.5em 0;
  background-color: var(--very-dark-grey);
  text-align: center;
}

#block-views-block-services-and-fees-block-2 h4 a {
  color: white;
}

#block-views-block-services-and-fees-block-2 img {
  width: 100%;
  height: auto;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  opacity: 0;
  transition-duration: 1s;
}

.card .card__front {
  width: auto;
  background-color: var(--infoaction--green);
	backface-visibility: hidden;
	transition: transform 0.5s;
  transition-timing-function: ease-in-out;
  aspect-ratio: 4 / 3;
  width: 100%;
  height: auto;
}

.card .card__front h3 {
  margin-top: -2em;
  color: white;
  text-align: center;
}

.card .card__front img {
  width: 100%;
  height: auto;
}
.card .card__front:hover {
  cursor: pointer;
}

.card .card__back {
  z-index: -5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  transition: transform 0.5s;
  transition-timing-function: ease-in-out;
  transform: rotateY(180deg);
  background: var(--infoaction--pale-green);
  aspect-ratio: 4 / 3;
}

.card .card__back h2 {
  padding: 1.5em 1em 0 1.25em;
}

.card .card__back p {
  padding: 0 2em 2em 2em;
  font-size: 0.9em;
}

.card .card__back:hover {
  cursor: pointer;
}

.card.flipped .card__front {
  transform: rotateY(-180deg);
}

.card.flipped .card__back {
  transform: rotateY(0deg);
}

@media screen and (min-width: 48em) {
  .services-and-fees main div[class*="js-view-dom"],
  #block-views-block-services-and-fees-block-1 div[class*="js-view-dom"]  {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    perspective: 1000px;
    gap: 1em;
  }
  .card {
    position: relative;
    width: calc(33% - 0.5em);
    transform-style: preserve-3d;
    opacity: 0;
    transition-duration: 1s;
  }
  #block-views-block-services-and-fees-block-2 div[class*="js-view-dom"] {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #block-views-block-services-and-fees-block-2 div[class*="js-view-dom"] .views-row {
    position: relative;
    width: calc(20% - 0.5em);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade {
  opacity: 1;
}