#block-views-block-testimonials-block-2 h2 {
  margin: 1em 0 0.5em;
}

#block-views-block-testimonials-block-2 .testimonials-block {
  display: block;
}

#block-views-block-testimonials-block-2 .testimonials-block .views-row {
  width: auto;
  margin-bottom: 1em;
  padding: 2em;
  background: var(--infoaction--light-green);
  color: var(--infoaction--green);
}

#block-views-block-testimonials-block-2 .views-row h3::before {
  color: var(--infoaction--green);
}

#block-views-block-testimonials-block-2 .views-row h3 p {
  margin-top: 0;
  font-size: 0.8em;
  color: var(--infoaction--green);
}

#block-views-block-testimonials-block-2 .views-row h3::before {
  display: block;
  margin-bottom: -0.25em;
  content: "“";
  font-size: 6em;
  line-height: 1;
}

#block-views-block-testimonials-block-2 .views-row h4 span {
  color: var(--infoaction--green);
}

#block-views-block-testimonials-block-2 footer {
  padding: 2em;
  background: var(--infoaction--light-green);
}

#block-views-block-testimonials-block-2 footer h2 {
  color: var(--infoaction--green);
  font-weight: 400;
}

@media screen and (min-width: 64em) {
  #block-views-block-testimonials-block-2 .testimonials-block {
    display: flex;
    gap: 1em;
  }
  
  #block-views-block-testimonials-block-2 .testimonials-block .views-row,
  #block-views-block-testimonials-block-2 .testimonials-block footer {
    width: calc(33% - 0.5em);
    box-shadow: 0 0.25em 1em rgba(0,0,0,.5);
  }  
  
  #block-views-block-testimonials-block-2 .testimonials-block footer {
    margin-bottom: 1em;
  }
}
