.footer__region-1 {
  background-image: url('/sites/ntimmy/themes/infoaction/images/pattern.svg');
  background-size: 450%;
}

@media screen and (min-width: 48em) and (max-width: 63.938em) {
  .footer__region-1 {
    background-size: 250%;
  }
}

@media screen and (min-width: 64em) {
  .footer__region-1 {
    background-size: 100%;
  }
}


.footer__region-1--content h2 {
  margin-bottom: 0.5em;
  color: white;
}

.footer__region-1--content p {
  font-size: 0.9em;
  color: white;
}

.footer__region-1--content a:not(.twitter, .linkedin) {
  color: white;
  border-bottom-color: white;
}

.footer__region-1--content img {
  width: 50%;
}

/* Footer - Copyright */
.footer__region-2 {
  background-color: var(--infoaction--dark-green);
  color: white;
  padding: 1em 0;
}

.footer__region-2 ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  color: var(--infoaction--light-green);
}

.footer__region-2 li {
  padding: 0 0.5em;
  color: var(--infoaction--light-green);
}

.footer__region-2 a {
  color: var(--infoaction--light-green);
}
