/* Header */
#header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.header__region-4 {
  margin: 2em 0;
  grid-column: 2 / 12;
}
  
/* Main */
main {
    padding: 1em;
}

.main__aside-a {
  grid-column: 2 / 12;
}
  
  .main__aside-b {
    grid-column: 2 / 12;
  }
  
  .main__aside-a ~ .main__region-1 {
    grid-column: 2 / 12;
  }
  
  .main__aside-b ~ .main__region-1 {
    grid-column: 2 / 12;
  }
  
  .main__aside-a + .main__aside-b ~ .main__region-1 {
    grid-column: 2 / 12;
  }

/* Footer */
    footer {
      display: grid;
    }
  
    .footer__region-1 {
      grid-column: 1 / 13;
      padding: 2em 1em;
    }
  
    .footer__region-1 #block-footer-2 {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
  
    .footer__region-1 #block-footer-2 > div {
      grid-column: 2 / 12;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .footer__region-1 .footer__column-1,
    .footer__region-1 .footer__column-2,
    .footer__region-1 .footer__column-3,
    .footer__region-1 .footer__column-4 {
      width: 100%;
      flex-direction: column;
      padding: 0.5em 0;
    }
  
    .footer__region-2 {
      grid-column: 1 / 13;
    }