/* Main */
main {
    padding: 1em;
}

/* Footer */
    footer {
      display: grid;
    }
  
    .footer__region-1 {
      grid-column: 1 / 13;
      padding: 2em 1em;
    }
  
    .footer__region-1 #block-footer-2 {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
  
    .footer__region-1 #block-footer-2 > div {
      grid-column: 2 / 12;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .footer__region-1 .footer__column-1,
    .footer__region-1 .footer__column-2,
    .footer__region-1 .footer__column-3,
    .footer__region-1 .footer__column-4 {
      width: 100%;
      flex-direction: column;
      padding: 0.5em 0;
    }
  
    .footer__region-2 {
      grid-column: 1 / 13;
    }