@media screen and (min-width:  64em /* 1024px /16px where 16px = 1em */) {
    /* Header */
    #header {
      background-image: url('/sites/ntimmy/themes/infoaction/images/pattern.svg');
      background-size: 100%;
    }
  
    .header__region-1 {
      grid-column: 1 / 13;
    }   
  
    .header__region-2 {
      grid-column: 2 / 6;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1em;
      align-items: center;
      /* This region gets a margin above because header__region-1 may not appear (might have no content); margin on body would affect header__region-1 */
      margin-top: 2em;
      margin-bottom: 2em;
    }
  
    .header__region-3 {
      grid-column: 6 / 12;
      display: grid;
      gap: 1em;
      align-items: center;
      justify-content: end;
      /* This region gets a margin above because header__region-1 may not appear (might have no content); margin on body would affect header__region-1 */
      margin-top: 2em;
      margin-bottom: 2em;
    }
  
    .header__region-4 {
      padding: 4em 0;
      grid-column: 2 / 12;
    }
  
    /* Main and Asides */
    .main__aside-a {
      grid-column: 2 / 4;
    }
    
    .main__aside-b {
      grid-column: 10 / 12;
    }
    
    .main__aside-a ~ .main__region-1 {
      grid-column: 4 / 12;
    }
    
    .main__aside-b ~ .main__region-1 {
      grid-column: 2 / 10;
    }
    
    .main__aside-a + .main__aside-b ~ .main__region-1 {
      grid-column: 4 / 10;
    }
  
    /* Footer */
    footer {
      display: grid;
    }
  
    .footer__region-1 {
      grid-column: 1 / 13;
      padding: 2em 0;
    }
  
    .footer__region-1 #block-footer-2 {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
    .footer__region-1 #block-footer-2 div {
      display: flex;
      grid-column: 2 / 12;
    }
    
    .footer__region-1 #block-footer-2 > div {
      display: flex;
      justify-content: space-between;
    }
  
    .footer__region-1 .footer__column-1,
    .footer__region-1 .footer__column-2,
    .footer__region-1 .footer__column-3,
    .footer__region-1 .footer__column-4 {
      width: 25%;
      flex-direction: column;
    }

    .footer__region-2 {
      grid-column: 1 / 13;
    }
  }